body {
  /* borrowed from metaredux.com */
  color: rgb(51, 65, 85);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 800;
}

a {
  color: rgb(51, 65, 85)
}

.wrapper {
  max-width: 850px;
  margin: 0 auto 0 auto;
  padding: 0 15px;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 0.2em;
}

.site-header {
  border-top: 2px solid #45ad65;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  margin: 0;
}

.site-nav {
  float: right;
  line-height: 4rem;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

.page-link {
  text-decoration: none;
  vertical-align: middle;
}

.page-icon {
  vertical-align: middle;
}

ul.index {
  list-style: none;
  padding-left: 0;
}

.index li {
  margin-bottom: 1em;
}

code {
  white-space: pre;
}

img {
  max-width: 900px;
}

blockquote {
  padding: 8px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-left: solid rgba(69, 173, 101, 0.7);
}